[Desktop Entry]
Encoding=UTF-8
Name=Tradercoin
Comment=Tradercoin P2P Cryptocurrency
Comment[fr]=Tradercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tradercoin, eşten eşe kriptografik sanal para birimi
Exec=tradercoin-qt %u
Terminal=false
Type=Application
Icon=tradercoin128
MimeType=x-scheme-handler/tradercoin;
Categories=Office;Finance;
